{% extends "network/layout.html" %}
{% load static %}


{% block body %}

<div id="post-view">
    <h3>All Posts</h3>
    <div id="posty">


        <form id="post-form">
            <h5>New Post</h5>
            <textarea class="form-control" id="post-body" placeholder="What are you thinking?"></textarea>
            <input type="submit" id="post-button" class="btn btn-primary" value="Post" />
        </form>

    </div>

    <div id="allPostings">

    </div>
</div>






{% endblock %}

{% block script %}
<script src="{% static 'network/network.js' %}"></script>
{% endblock %}