{% extends "network/layout.html" %}
{% load static %}


{% block body %}
{% include "network/messages.html" %}

<div id="post-view">
    <h3>All Posts</h3>
    <div id="posty">


        <form id="post-form" action="{% url 'saveDjangoNewPost' %}" method="post">
            {% csrf_token %}
            <h5>New Post</h5>
            <textarea class="form-control" id="post-body" placeholder="What are you thinking?" name="postContent"
                onkeyup="disableNewPostButton()"></textarea>
            <input type="submit" id="post-button" class="btn btn-primary" value="Post" />
        </form>

    </div>

    {% for post in postings %}

    <div id="allPostings">

        <div class="post{{forloop.counter0}}">
            <!-- FIXME: Redirect the userr to the login if they are not authenticated and click on link. -->
            <h5 class="creator">Posted by <a
                    href="{% url 'getProfile' post.creator.username %}">{{post.creator.username}}</a></h5><textarea
                class="form-control content{{forloop.counter0}}" id="readonlyContent{{forloop.counter0}}" rows="5"
                readonly="true">{{post.content}}</textarea>

            <!-- Put an if statement here,  Display button if the post.creator.username == request.username -->

            {% if post.creator.username == user.username %}

            <button class="btn btn-sm btn-outline-primary edit{{forloop.counter0}}" id="editButton{{forloop.counter0}}"
                onclick="editPost('{{post.id}}')">Edit post</button>

            {% endif %}

            <!-- I did have the input type of "submit" here, but it was causing a problem with AJAX and the fetch.  The form was not submitted yet, better to use an
                input type of "button".  In the future, don't use a form for this type of thing. -->
            <form action="" method="POST" class="hidden" id=editForm{{forloop.counter0}}>
                {% csrf_token %}
                <textarea name="" id="textArea{{forloop.counter0}}" class="form-control editTextArea" rows=5
                    onkeyup="disableEditPostButton('{{forloop.counter0}}')"></textarea><input type="button"
                    value="Save post" class="btn btn-sm btn-outline-primary SavePostButton{{forloop.counter0}}"
                    id="savePostButton{{forloop.counter0}}">
            </form>

            <p class="timestamp{{forloop.counter0}}">Posted on {{post.createdDate}}</p>
            <p class="numberLikes{{forloop.counter0}}">Likes for this post: {{post.numberLikes}}</p>



            {% if post.creator.username != user.username %}

            <button class="btn btn-sm btn-outline-primary likeButton{{forloop.counter0}}"
                id="likeButton{{forloop.counter0}}"
                onclick="likePost('{{post.id}}, {{post.creator.username}}, {{user.username}}')">Like!</button>


            {% endif %}


            {% if post.id in likeList and post.creator.username != user.username %}

            <!-- The user already likes it.  Display the appropriate icon. -->

            <p>Thumbs up!</p>
            <p>{{post.id}}</p>

            {% elif post.id not in likeList and post.creator.username != user.username %}

            <!-- The user DOES NOT currently like it.  Display the appropriate icon. -->

            <p>Thumbs down!</p>
            <p>{{post.id}}</p>

            {% else %}

            <!-- do nothing -->
            <p>{{post.id}}</p>

            {% endif %}




        </div>

    </div>

    {% endfor %}
</div>

{% endblock %}

{% block script %}
<script src="{% static 'network/network.js' %}"></script>
{% endblock %}