{% extends "network/layout.html" %}
{% load static %}


{% block body %}

<div id="post-view">
    <h3>All Posts</h3>
    <div id="posty">


        <form id="post-form">
            {% csrf_token %}
            <h5>New Post</h5>
            <textarea class="form-control" id="post-body" placeholder="What are you thinking?"></textarea>
            <input type="submit" id="post-button" class="btn btn-primary" value="Post" />
        </form>

    </div>

    {% for post in postings %}

    <div id="allPostings">

        <div class="post0">
            <h5 class="creator">{{post.creator.username}}</h5><textarea class="form-control content0" id="readonlyContent{{forloop.counter0}}"
                rows="5" readonly="true">asdfasdfasdf</textarea><button class="btn btn-sm btn-outline-primary edit{{forloop.counter0}}">Edit post</button>
            <p class="timestamp{{forloop.counter0}}">Jan 29 2023, 07:33 PM</p>
            <p class="numberLikes0">0</p>
        </div>



    </div>

    {% endfor %}
</div>






{% endblock %}

{% block script %}
<script src="{% static 'network/network.js' %}"></script>
{% endblock %}