{% extends "network/layout.html" %}

{% block body %}

<h3>Following</h3>




{% for list in listings %}

<div id="followingPostings">






    <div class="post">
        <!-- FIXME: Redirect the userr to the login if they are not authenticated and click on link. -->
        <h5 class="creator">Posted by <a
                href="{% url 'getProfile' list.creator.username %}">{{list.creator.username}}</a></h5>
        <textarea class="form-control content" id="readonlyContent" rows="5" readonly="true">{{list.content}}</textarea>
        <p class="timestamp">Posted on {{list.createdDate}}</p>
        <p class="numberLikes">Likes for this post: {{list.numberLikes}}</p>
    </div>

</div>

{% endfor %}

{% if displayNothing == True %}

<h5>This user is not following anyone.</h5>

{% endif %}

{% endblock %}