{% extends "network/layout.html" %}

{% block body %}

    <h3>Following</h3>

    {% for list in listings %}

    <div id="allPostings">

        <div class="post{{forloop.counter0}}">
            <!-- FIXME: Redirect the userr to the login if they are not authenticated and click on link. -->
            <h5 class="creator">Posted by {{list.creator.username}}</h5><textarea
                class="form-control content" id="readonlyContent" rows="5"
                readonly="true">{{list.content}}</textarea>
             <p class="timestamp">Posted on {{list.createdDate}}</p>
            <p class="numberLikes">Likes for this post: {{list.numberLikes}}</p>
        </div>

    </div>

    {% endfor %}






{% endblock %}