{% extends "network/layout.html" %}

{% block body %}

<h3>Following</h3>




{% for list in page_obj %}

<div id="followingPostings">


    <div class="post">
        <!-- FIXME: Redirect the userr to the login if they are not authenticated and click on link. -->
        <h5 class="creator">Posted by <a
                href="{% url 'getProfile' list.creator.username %}">{{list.creator.username}}</a></h5>
        <textarea class="form-control content{{forloop.counter0}}" id="readonlyContent{{forloop.counter0}}" rows="5" readonly="true">{{list.content}}</textarea>
        <p class="timestamp{{forloop.counter0}}">Posted on {{list.createdDate}}</p>
        <p class="numberLikes{{forloop.counter0}}">Likes for this post: {{list.numberLikes}}</p>

        <button class="btn btn-sm btn-outline-primary likeButton{{forloop.counter0}}"
        id="likeButton{{forloop.counter0}}"
        onclick="likePost('{{list.id}}', '{{list.creator.username}}', '{{user.username}}')">Like!</button>
    </div>

</div>



{% empty %}
<h5>This user is not following anyone.</h5>

{% endfor %}

{% if displayNothing == True %}

<h5>This user is not following anyone.</h5>

{% endif %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>



{% endblock %}