{% extends "network/layout.html" %}
{% load static %}

{% block body %}


<div id="post-view">
    <h3>New Post</h3>
    <div>
        <form id="post-form">
            <textarea class="form-control" id="post-body" placeholder="What are you thinking?"></textarea>
            <input type="submit" class="btn btn-primary" />
        </form>
    </div>
</div>


<div id="following-view">
    <h3>Following</h3>

</div>

<div id="profile-view">
    <h3>Profile</h3>

</div>

{% endblock %}


{% block script %}
<script src="{% static 'network/network.js' %}"></script>
{% endblock %}