{% load static %}

<!DOCTYPE html>
<html lang="en" style="background-color: #e8f0e3;">



<head>
    <title>{% block title %}Social Network{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'network/icons8-network-drive-color-32.ico' %}">

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="{% static 'network/styles.css' %}" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="nav-bar">


        <a class="navbar-brand" href="{% url 'index' %}">Network</a>


        <div>
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                <!-- <li class="nav-item">
                    <a class="nav-link" id="profile" href="#"><strong>{{ user.username }}</strong></a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" id="djangoProfile" href="{% url 'getProfile' user.username %}"><strong>{{ user.username }} profile</strong></a>
                </li>

                <!-- <li class="nav-item">
                    <a class="nav-link" id="allPosts" href="posts">All Posts</a>
                </li> -->

                <li class="nav-item">
                    <a class="nav-link" id="djangoAllPosts" href="{% url 'djangoAllPosts' %}">All Posts</a>
                </li>
                {% endif %}
                {% if user.is_authenticated %}
                <!-- <li class="nav-item">
                    <a class="nav-link" id="following" href="#">Following</a>
                </li> -->

                <li class="nav-item">
                    <a class="nav-link" id="djangoFollowing" href="{% url 'getFollowing' %}">Following</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="jsonbuttons" href="{% url 'viewJSON' %}">JSON API</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="body">
        {% block body %}
        {% endblock %}
    </div>
    {% block script %}
    <script src="{% static 'network/network.js' %}"></script>
    {% endblock %}
</body>

</html>