{% extends "network/layout.html" %}
{% load static %}

{% block body %}

<div id="post-view">
    <h3>Profile for {{username}}</h3>

    <ul>
        <li>Total number of followers: {{countFollowers}}</li>
        <li>Total number following: {{countFollowing}}</li>
    </ul>
    <div>



        {% for post in postings %}

        <div class="post{{forloop.counter0}}">
            <!-- FIXME: Redirect the userr to the login if they are not authenticated and click on link. -->
            <h5 class="creator">Posted by {{post.creator.username}}</a></h5><textarea
                class="form-control content{{forloop.counter0}}" id="readonlyContent{{forloop.counter0}}" rows="5"
                readonly="true">{{post.content}}</textarea>

            {% if post.creator.username == user.username %}

            <button class="btn btn-sm btn-outline-primary edit{{forloop.counter0}}" id="editButton{{forloop.counter0}}"
                onclick="editPost('{{post.id}}')">Edit
                post</button>

            {% endif %}

            <form action="" method="POST" class="hidden" id=editForm{{forloop.counter0}}>
                {% csrf_token %}
                <textarea name="" id="textArea{{forloop.counter0}}" class="form-control editTextArea"
                    rows=5 onkeyup="disableEditPostButton('{{forloop.counter0}}')"></textarea><input type="button" value="Save post"
                    class="btn btn-sm btn-outline-primary SavePostButton{{forloop.counter0}}"
                    id="savePostButton{{forloop.counter0}}">
            </form>

            <p class="timestamp{{forloop.counter0}}">Posted on {{post.createdDate}}</p>
            <p class="numberLikes{{forloop.counter0}}">Likes for this post: {{post.numberLikes}}</p>


            <!-- This works when a user is already a follower. -->

            {% if isFollowing %}

            <a class="btn btn-sm btn-outline-primary" href="{% url 'follow' post.creator.username %}">Unfollow</a>


            {% elif isFollowing == None %}

            <!-- This works when a user is not a follower. -->


            {% else %}

            <a class="btn btn-sm btn-outline-primary" href="{% url 'follow' post.creator.username %}">Follow</a>

            {% endif %}



        </div>

        {% empty %}
        <h5>This user does not have any posts.</h5>


        {% endfor %}


        {% endblock %}

        {% block script %}
        <script src="{% static 'network/network.js' %}"></script>
        {% endblock %}