{% extends "network/layout.html" %}
{% load static %}

{% block body %}

<div id="post-view">
    <h3>Profile</h3>
    <div id="posty">

        {% for post in postings %}

        <div id="ProfilePostings">

            <div class="post">
                <!-- FIXME: Redirect the userr to the login if they are not authenticated and click on link. -->
                <h5 class="creator">Posted by {{post.creator.username}}</a></h5><textarea
                    class="form-control content" id="readonlyContent" rows="5"
                    readonly="true">{{post.content}}</textarea><button
                    class="btn btn-sm btn-outline-primary edit">Edit post</button>
                <p class="timestamp">Posted on {{post.createdDate}}</p>
                <p class="numberLikes">Likes for this post: {{post.numberLikes}}</p>
            </div>



        </div>

        {% endfor %}
    </div>






    {% endblock %}