{% extends "network/layout.html" %}
{% load static %}

{% block body %}

<div id="post-view">
    <h3>Profile for {{username}}</h3>

    <ul>
        <li>Total number of followers: {{countFollowers}}</li>
        <li>Total number following: {{countFollowing}}</li>
    </ul>
<div>

    <div>
        <a class="btn btn-sm btn-outline-primary" href="{% url 'user_Follow' username %}">Follow</a>
        <a class="btn btn-sm btn-outline-primary" href="{% url 'user_UnFollow' username %}">Unfollow</a>

    </div>

    {% for post in postings %}


            <div class="post">
                <!-- FIXME: Redirect the userr to the login if they are not authenticated and click on link. -->
                <h5 class="creator">Posted by {{post.creator.username}}</a></h5><textarea
                    class="form-control content" id="readonlyContent" rows="5"
                    readonly="true">{{post.content}}</textarea>
                <p class="timestamp">Posted on {{post.createdDate}}</p>
                <p class="numberLikes">Likes for this post: {{post.numberLikes}}</p>
                <a class="btn btn-sm btn-outline-primary" href="{% url 'user_Follow' post.creator.username %}">Follow</a>
                <a class="btn btn-sm btn-outline-primary" href="{% url 'user_UnFollow' post.creator.username %}">Unfollow</a>
            </div>

        {% empty %}
        <h5>This user does not have any posts.</h5>


    {% endfor %}


    {% endblock %}