body {
  margin: 1.1em;
  background-color: #e8f0e3;
}

a {
  text-decoration: none;
}
#posty {
  margin: 1em;
  border-style: solid;
  border-width: thin;
  border-color: lightgray;
  background-color: #e8f0e3;
}

#post-view {
  background-color: #e8f0e3;
}

.form-control {
  margin: 0.3em;
}

.form-control:focus {
  background-color: antiquewhite !important;
}

#nav-bar {
  background-color: #e8f0e3 !important;
}

p {
  margin-bottom: 0.4rem;
}

.paginationNumberPages {
  justify-content: center;
  display: flex;
}

.creator {
  margin: 0.4em;
}

.fa {
  font-size: 50px;
  cursor: pointer;
  user-select: none;
}

.fa:hover {
  color: rgb(6, 6, 190);
}

/* This is for each post */
[class*="post"] {
  margin: 1em;
  border-style: solid;
  border-width: thin;
  border-color: lightgray;
}

[class*="timestamp"] {
  color: grey;
}

[id*="readonlyContent"] {
  margin-bottom: 0.5em;
  background-color: antiquewhite;
}

#follow-button {
  display: flex;
  width: 5.4em;
  margin-top: 7px;
  margin-bottom: 6px;
  align-items: center;
  justify-content: center;
}

#unfollow-button {
  display: flex;
  width: 5.4em;
  margin-top: 7px;
  margin-bottom: 6px;
  align-items: center;
  justify-content: center;
}

#post-form {
  margin: 1em;
}

#post-button {
  margin-top: 0.4em;
}

#post-body {
  height: 115px;
  background-color: antiquewhite;
}

.hidden {
  display: none;
}
